{% extends 'templates/base.html.twig' %}

{% block title %}
    Sistema de Vivienda | Error 500
{% endblock %}

{% block ebody %}
    <body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h1>505</h1>

        <h3 class="font-bold">Error Interno de Servidor</h3>

        <div class="error-desc">
            Oops, algo anda mal!!!
            <br/>
            Imposible completar la petición solicitada.
        </div>
    </div>

    </body>
{% endblock %}