{% extends 'templates/base.html.twig' %}

{% block title %}
    Sistema de Vivienda | Error 404
{% endblock %}

{% block ebody %}
    <body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>

        <h3 class="font-bold">Página no encontrada</h3>

        <div class="error-desc">
            <strong>Oops</strong>, algo anda mal!!!
            <br/>
            Lo sentimos, <strong>la url solicitada no existe.</strong>
        </div>
    </div>

    </body>
{% endblock %}